menu "MQTT TEST SETUP"

    config MQTT_BROKER_URL
        string "Broker URL"
        default "mqtt://test.mosquitto.org"
        help
            URL of the broker to connect to

    config MQTT_BROKER_PORT
        int "Broker port"
        default 1883
        help
            port of the broker to connect to

    config MQTT_USERNAME
        string "MQTT Username hash"
        default "1dc2534cb9b3fb16dcd16de7a6986b7b9a18e071955de709b158f7b9e2b8fa98"
        help
            MQTT username (email) sha256 hash

    config MQTT_PASSWORD
        string "Password"
        default "den_k_89_0003"
        help
            Password or token            
endmenu
